
body{
    margin: auto;
    box-sizing: border-box;

}


.container {
    position: relative;
    text-align: center;
    color: white;

.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
.banner1 {
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg");
    text-align: center;
    height:700px; 
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;

     
}
#logo{
    text-align-last: center;
    padding-top: 200px;
    padding-bottom: 30px;

}
.banner1,.banner2 { 
    text-align: center;
    color: white;
}
.banner2 {
    padding-bottom: 120px;
}


#mouse_click{
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.About{
    text-align: center;
    height: 300px;
    padding: 30px;
    line-height: 200%;
}
.s_image{
    background-image: url("../images/assets/backgrounds/s_image.jpg");
    height: 350px;
    padding-top: 100px;
    line-height: 200%; 
}
.banner2-1,.banner2-2 {
    text-align: center; 
    color: white;

}
.row{
    text-align: center;
}
.What-we-do{
    display: inline;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 150px;
}
.we-do{
    text-align: center;
    padding-top: 40px;
    /* padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px; */
}
.PortF1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.container{
    text-align: center;
    position: center;
    width: 1200px;
    height: 280px;
    margin: 300px, auto;
    background: white;
}
.container .box {
    position: relative;
    display: block;
    width: calc(400px - 60px);
    height: calc(300px - 80px);
    float: left;
    /* margin: 15px; */
    /* box-sizing: border-box; */
    overflow: hidden;
    border-radius: 10px;
    /* background: green; */
}
.container .box .icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 40%;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
}
.container .box .icon .btn_1{
    background: rgba(0, 0, 0, 0);
    float: inherit;
}
.container .box .icon .btn_2{
    background: rgba(0, 0, 0, 0);
}
.container .box .icon .btn_3{
    background: rgba(0, 0, 0, 0);
}
.container .box .par_1{
    display: none; 
    font-size: 15px;
}
.container .box .par_2{
    display: none;
    font-size: 15px;
}
.container .box .par_3{
    display: none;
    font-size: 15px;
}

.container{
    /* position: relative; */
    text-align: left;
    box-sizing: border-box;
   
}

.Portfolio{
    padding: 20px;
    text-align: center;
}
 .row1{
    display: flex;
    box-sizing: border-box;
    padding: 30px,50px, 10px,20px;
    border: 20px, 30px, 20px, 30px;
    margin: 20px;
    text-align: start;
      
} 

/* <style>
.container {
  position: relative;
  width: 50%;
} */

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.PortF1{
    padding: 20px, 20px, 20px, 20px;
}
 .col-sm-3{
    display: inline;
    width: 33.33%;
    padding: 10px;
    transition: 0.5s;
    
}
.row2{
    display: flex;
    flex-wrap: wrap;
    color: black;
    box-sizing: border-box; 
    padding: 30px,50px, 10px,20px; 
    border: 20px, 30px, 40px,30px;
    margin: 20px;  
    text-align: justify; 
}
.col-sm-3{
    position: relative;
}
.col-sm-3 img{
    width: 100%;
}
.col-sm-3>div{
    position: absolute;
    background: rgba(255, 255, 255, 0.719);
    width: 100%;
    /* height: 100%; */

}
.col-sm-3:after{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    content:attr(data-text);
    transition: 0.5s;
}
.col-sm-3:hover:after{
    opacity: 1;
}
/* .row1 .col-sm-3 .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 100;
    background: (rgba(0, 0, 0, 0));
} */

.contact_us{
    background-image: url("../images/assets/backgrounds/c_image.jpg");
    height: 450px;
    text-align: center;
    color: white;
}
form{
    background: rgba(0, 0, 0, 0);
}
input{
    background: rgba(0, 0, 0, 0);
}
textarea{
    background: rgba(0, 0, 0, 0);
}
.txtb{
    background: rgba(0, 0, 0, 0);
}
.contact_us .txtb label, input, textarea{
    display: inline-block;

}
footer{
    text-align: center;
    /* margin-left: auto;
    margin-right: auto;
    width: 8em; */
    padding: 20px;
}


    
     





